  <div class="footer">
    <div>
      </a>

        <img src="https://img.shields.io/github/forks/jaywcjlove/github-rank.svg">
      </a>
        <img src="https://img.shields.io/github/stars/jaywcjlove/github-rank.svg">
      </a>
        <img src="https://img.shields.io/npm/v/@wcj/github-rank.svg">
      </a>
        <img src="https://img.shields.io/npm/v/@wcj/github-rank.svg?label=unpkg">
      </a>
    </div>
    <div class="time">Last cache created on <%= `${new Date().getFullYear()}/${(new Date().getMonth()) + 1}/${new Date().getDate()}` %> by Github API v3.</div>
    Create by <a href="https://github.com/jaywcjlove" target="_blank">小弟调调™</a>.
  </div>
</body>
</html>